
<div class="h-100">
    <div class="col-sm-12 my-auto">
        <div class="mt-4 card card-block mx-auto" style="max-width: 30rem !important;">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 justify-content-center align-items-center text-center">
                        <h1>How can i help you?</h1>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fa fa-search search-ico"></i></span>
                            </div>
                            <input type="text" class="form-control" aria-label="Search here">
                            <div class="input-group-append">
                              <span class="input-group-text"><i class="fa fa-microphone microphone-ico"></i></span>
                            </div>
                          </div>

                        <a routerLink="/register" class="round btn btn-secondary mt-4 mb-4 btn-block" title="I want to join">
                            <span class="menu-title"><i class="fas fa-chart-bar mr-2"></i> Visualize your data</span>
                        </a>
                        <a routerLink="/register" class="btn btn-primary btn-block" title="I want to join">
                            <span class="menu-title">Track a seizure</span>
                        </a>
                        <a routerLink="/register" class="btn btn-primary btn-block" title="I want to join">
                            <span class="menu-title">How do i feel today?</span>
                        </a>
                        <a routerLink="/register" class="btn btn-primary btn-block" title="I want to join">
                            <span class="menu-title">Report a medical event</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>