
<div class="h-100">
    <div class="col-sm-12 my-auto">
        <div class="mt-4 card card-block mx-auto" style="max-width: 30rem !important;">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 justify-content-center align-items-center text-center">
                        <h1>Why register on RAITO?</h1>
                        <p>RAITO is an easy to operate app where you can enter and track chronologically your medical data like
                            drugs, symtoms, seizures and how do you feel.</p>
                        <p>RAITO helps you store your data wherever you want. In Raito you are the only owner of your data. You can
                            save them in a cloud storage such as OneDrive, GoogleDrive or ¡Cloud or save them on this phone. If you
                            save them in the cloud they will always be accessible and you wont lose them.</p>
                        <h1>What can you expect from RAITO?</h1>
                        <p>RAITO enables you to share your data with your patient organisation and platforms like HealthData 29 so
                            institutions and researchers can get access to the valuable information your anonymously provide on
                            significant benefit, clinical researches and disease data updates.</p>
                        <a routerLink="/register" class="btn btn-dark" title="I want to join">
                            <span class="menu-title">I want to join</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>