
<div class="h-100">
    <div class="col-sm-12 my-auto">
        <div class="mt-4 mb-4 card card-block mx-auto" style="max-width: 30rem !important;">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 justify-content-center align-items-center text-center">
                        <h2>{{'landraito.t1' | translate }}</h2>
                        <p class="text-justify">{{'landraito.p1' | translate }}</p>
                        <p class="text-justify">{{'landraito.p2' | translate }}</p>
                        <h2>{{'landraito.t2' | translate }}</h2>
                        <p class="text-justify">{{'landraito.p3' | translate }}</p>
                        <a routerLink="/register" class="btn btn-dark" title="I want to join">
                            <span class="menu-title">{{'landraito.button' | translate }}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>