<!--Login Page Starts-->
<section id="login">
      <div class="container-fluid"><!-- gradient-red-pink-->
          <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="card text-center width-400 mt-4">
                    <div class="card-body">
                        <div class="card-block">
                           <h2 style="margin-bottom: 1rem;" class="text-center">{{'login.Login' | translate }}</h2>
                           <button *ngIf="currentUser == null" class="btn btn-dark btn-block mb-0" (click)="login()"> {{'login.Login' | translate }}</button>
                           <button *ngIf="currentUser != null" class="btn btn-dark btn-block mb-0" (click)="logOut()"> {{'navbar.Logout' | translate }}</button>
                                <div  class="form-group" *ngIf="sending">
                                  <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                                </div>
                                <div *ngIf="isBlockedAccount" class="form-group">
                                    <div class="col-md-12 danger">
                                      {{'login.Account is temporarily locked' | translate }}
                                    </div>
                                </div>
                                <div *ngIf="isLoginFailed" class="form-group">
                                    <div class="col-md-12 danger">
                                      {{'login.Login failed' | translate }}
                                    </div>
                                </div>
                                <div *ngIf="isAccountActivated" class="form-group">
                                    <div class="col-md-12 success">
                                      {{'login.Account activated' | translate }}
                                    </div>
                                </div>
                                <div *ngIf="supportContacted" class="form-group">
                                    <div class="col-md-12 danger">
                                      {{'login.supportContacted' | translate }}
                                    </div>
                                </div>
                                <div *ngIf="emailResent" class="form-group">
                                    <div class="col-md-12 danger">
                                      {{'login.emailResent' | translate }}
                                    </div>
                                </div>
                                <div *ngIf="errorAccountActivated" class="form-group">
                                    <div class="col-md-12 danger">
                                      {{'login.could not be activated' | translate }}
                                    </div>
                                </div>
                                <div *ngIf="isActivationPending" class="form-group">
                                    <div class="col-md-12 danger">
                                      {{'login.The account is not activated' | translate }}
                                    </div>
                                </div>
                                <div *ngIf="isBlocked" class="form-group">
                                    <div class="col-md-12 danger">
                                      {{'login.The account is blocked by an administrator' | translate }}
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="card-footer" style="background: none;">
                        <!--<div class="float-left centerdiv"><a (click)="onForgotPassword()">{{'login.Recover Password' | translate }}</a></div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Login Page Ends-->
