<!--Login Page Starts-->
<section id="login">
  <div class="row auth-height full-height-vh m-0">
    <div class="col-12 d-flex align-items-center justify-content-center">
      <div class="card">
        <div class="card-content">
          <div class="back-to-home p-3">
            <a routerLink="/" class="btn btn-outline-secondary btn-sm">
              <i class="fa fa-arrow-left mr-1"></i> {{'menu.Dashboard' | translate }}
            </a>
          </div>
          <div class="card-body auth-img">
            <div class="row m-0">
              <!--<div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center auth-img-bg p-3">
                <img src="assets/img/logobig.webp" alt="" class="img-fluid" width="300" height="230">
              </div>-->
              <div class="col-lg-12 col-12 px-4 py-3 panelLogin">
                <h4 class="mb-2 card-title">{{'login.Login' | translate }}</h4>
                <div class="formGroup">
                  <input type="text" class="form-control" placeholder="{{'generics.Email' | translate }}" #userName required>
                </div>
                <div class="formGroup mt-2 position-relative">
                  <input [type]="showPassword ? 'text' : 'password'" 
                         class="form-control" 
                         placeholder="{{'generics.Password' | translate }}" 
                         #userPassword 
                         required>
                  <span class="password-toggle" 
                        (click)="showPassword = !showPassword">
                    <i class="fa" 
                       [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
                       aria-hidden="true"></i>
                  </span>
                  <div class="danger pointer">
                    <span routerLink="/forgotpassword">{{'menu.Forgot Password' | translate }}</span>
                  </div>
                </div>
                <!-- Calling SignIn Api from AuthService -->
                <div class="formGroup mt-2">
                  <button type="button" class="btn btn-dark" (click)="authServiceFirebase.SignIn(userName.value, userPassword.value)">
                    {{'login.Log In' | translate}}
                  </button>
                </div>
                
                <div class="redirectToLogin mt-4">
                  <span>{{'login.Dont have an account?' | translate }}<span class="danger pointer" (click)="onRegister()"> {{'login.Sign Up' | translate }}</span></span>
                </div>
                <hr class="mt-0">
                <div class="d-flex justify-content-between align-items-center flex-wrap">
                  <h6 class="m-0 mb-2">{{'login.or Log in with' | translate }}</h6>
                  <div class="login-options">
                    <button type="button" class="btn btn-sm btn-white mr-1" (click)="authServiceFirebase.GoogleAuth()">
                      <i class="fa-brands fa-google fa-2x"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-white mr-1" (click)="authServiceFirebase.signInWithMicrosoft()">
                      <i class="fa fa-windows fa-2x"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-white" (click)="authServiceFirebase.signInWithApple()">
                      <i class="fa fa-apple fa-2x"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Login Page Ends-->