.alert-yellow{
  border-color: #f1da1f !important;
  background-color: #f9c448 !important;
  color: #000 !important;
}

.back-to-home {
  border-bottom: 1px solid #eee;
}

.back-to-home a {
  text-decoration: none;
}

.back-to-home a:hover {
  background-color: #e9ecef;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-100%);
  cursor: pointer;
  color: #6c757d;
}

.password-toggle:hover {
  color: #495057;
}

@media ( max-width: 380px ){

  .centerdiv{
    clear: both;
    float: none !important;
  }
}

@media ( max-width: 300px ){

  .password-toggle:hover {
    right: -20px;
  }
}

