<div class="h-100">
	<div class="card card-block mx-auto" style="max-width: 30rem !important;">
		<div class="card-body">
			<div class="row">
				<div class="col-12 col-sm-12 align-items-center">
					<div *ngIf="step=='0'">
						<h2 class="font-large-1 text-center content-header mb-3">{{'menu.Seizures' |
							translate }}</h2>
						<label class="btn btn-sm btn-primary">
							<input id="file" type="file" style="display:none;" accept=".json"
								(change)="onImport($event)" />

							Import from seizure tracker
						</label>
						<button *ngIf="events.length>0" class="pull-right btn btn-sm btn-primary" (click)="openStats()">
							<i class="fa fa-history font-medium-3"></i>
						</button>
						<div class="row">
							<div class="mt-3">
								<form action="#" class="form form-horizontal">
									<div class="form-body">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label>Seizure type</label> <button
														(click)="goto('2');"
														class="btn btn-sm mr-1 mb-0 btn-fab"
														title="More info">
														<em class="fa fa-info w-13"></em>
													</button>
													<select name="event-estructure-type" class="form-control"
														[(ngModel)]="modalData?.event.type"
														(keyup)="refresh.next()">
														<option value="Unknown">Unknown</option>
														<option value="Simple Focal">Simple Focal</option>
														<option value="Complex Focal">Complex Focal</option>
														<option value="Secondarily Generalized">Secondarily
															Generalized</option>
														<option value="Tonic">Tonic</option>
														<option value="Clonic">Clonic</option>
														<option value="Tonic–clonic">Tonic–clonic</option>
														<option value="Myoclonic">Myoclonic</option>
														<option value="Myoclonic Cluster">Myoclonic Cluster</option>
														<option value="Atonic">Atonic</option>
														<option value="Absence">Absence</option>
														<option value="Atypical Absence">Atypical Absence</option>
														<option value="Infantile Spasms">Infantile Spasms</option>
														<option value="Status">Status</option>
														<option value="Other">Other</option>
													</select>
												</div>
											</div>
											<div class="col-8">
												<div class="form-group">
													<label>Duration (Minutes)</label>
													<input type="number" min="0" class="form-control"
														id="numericos2" name="numericos2"
														[(ngModel)]="modalData?.event.duracion" digits
														#numericos2="ngModel">
													<small class="form-text text-muted danger"
														*ngIf="numericos2.errors?.digits">{{'generics.Only integers
														are allowed' | translate }}</small>
												</div>
											</div>
											<div class="col-8">
												<div class="form-group">
													<label>Starts At</label>
													<div class="">
														<input class="form-control d-none" id="start_" name="start"
															matInput
															placeholder="{{'personalinfo.Birth Date' | translate }}"
															readonly [matDatepicker]="pickerOnset"
															(click)="pickerOnset.open()"
															[(ngModel)]="modalData?.event.start">
														<input readonly class="form-control d-inline"
															(click)="pickerOnset.open()"
															style="background-color: #fff !important;"
															[placeholder]="(modalData?.event.start!=null) ? (modalData?.event.start | date: 'dd MMM y': '' : translate.currentLang) : getLiteral('personalinfo.Birth Date')">

														<mat-datepicker-toggle matSuffix [for]="pickerOnset"
															class="d-none">
														</mat-datepicker-toggle>
														<mat-datepicker startView="multi-year"
															(daySelected)="closeDatePickerStart($event, pickerOnset)"
															touchUi="true" #pickerOnset></mat-datepicker>
														<!--<p *ngIf="datainfo.birthDate ==null || datainfo.birthDate ==''" class="danger">{{'generics.required' | translate }}</p>-->
													</div>
												</div>
											</div>


											<div class="col-md-12 col-12">
												<div class="form-group">
													<label>Notes</label>
													<textarea maxlength="150" name="notes"
														class="autoajustable form-control"
														[(ngModel)]="modalData?.event.notes"
														name="notes"></textarea>
												</div>
											</div>
										</div>

									</div>
								</form>
							</div>
							<div class="center-elements">
								<button type="button" class="btn btn-primary"
									(click)="saveData(modalData?.event);">{{'generics.Save' | translate }}</button>
							</div>
						</div>
					</div>
					<div *ngIf="step=='1'">
						<p><button class="ml-2 btn btn-primary" (click)="goto('0');">Back</button></p>
						<div class="table-cont">
							<table class="table mb-0 table-wrapper-scroll-y my-custom-scrollbar bg-white"
								aria-labelledby="HPO">
								<tbody>
									<span *ngFor="let event of events ; let i = index">
										<tr>
											<td>
												{{event.type}}
											</td>
											<td>
												{{event.duracion}}
											</td>
											<td>
												{{event.start |date}}
											</td>
											<!--<td>
												Notes: {{event.notes}}
											</td>-->
											<td>
												<a class="danger"
																(click)="deleteSeizure(event);"
																href="javascript:void(0)"><i
																	class="ft-trash"></i></a>
											</td>
										</tr>
									</span>
								</tbody>
							</table>
						</div>
					</div>
					<div *ngIf="step=='2'">
						<p><button class="ml-2 btn btn-primary" (click)="goto('0');">Back</button></p>

						<div>
							<ngb-accordion [activeIds]="activeIds">
								<ngb-panel id="init">
									<ng-template ngbPanelTitle>
										<h5>Simple Focal</h5>
										</ng-template>
									<ng-template ngbPanelContent>
									<div class="card-block">
										<div class="col-md-12" >
										A seizure limited to a specific area and side of the brain, without loss of consciousness.
										</div>
									</div>
									</ng-template>
								</ngb-panel>
								<ngb-panel>
									<ng-template ngbPanelTitle>
										<h5>Complex Focal</h5>
										</ng-template>
									<ng-template ngbPanelContent>
									<div class="card-block">
										<div class="col-md-12" >
										A seizure limited to a specific area and side of the brain, with the possibility of consciousness being lost or impaired.
										</div>
									</div>
									</ng-template>
								</ngb-panel>
								<ngb-panel>
									<ng-template ngbPanelTitle>
										<h5>Secondarily Generalized</h5>
										</ng-template>
									<ng-template ngbPanelContent>
									<div class="card-block">
										<div class="col-md-12" >
										A seizure beginning in a specific area of the brain and then progressing into a generalized seizure. It is important to describe the beginning of these seizures to possibly identify a focal region.
										</div>
									</div>
									</ng-template>
								</ngb-panel>
								<ngb-panel>
									<ng-template ngbPanelTitle>
										<h5>Tonic</h5>
										</ng-template>
									<ng-template ngbPanelContent>
									<div class="card-block">
										<div class="col-md-12" >
										Muscle stiffening or rigidity.
										</div>
									</div>
									</ng-template>
								</ngb-panel>
								<ngb-panel>
									<ng-template ngbPanelTitle>
										<h5>Clonic</h5>
										</ng-template>
									<ng-template ngbPanelContent>
									<div class="card-block">
										<div class="col-md-12" >
										Repetitive jerking motions.
										</div>
									</div>
									</ng-template>
								</ngb-panel>
								<ngb-panel>
									<ng-template ngbPanelTitle>
										<h5>Tonic–clonic</h5>
										</ng-template>
									<ng-template ngbPanelContent>
									<div class="card-block">
										<div class="col-md-12" >
										A seizure often referred to as grand mal seizures. These seizures begin with stiffening of the extremities followed by jerking of the extremities and face.
										</div>
									</div>
									</ng-template>
								</ngb-panel>
								<ngb-panel>
									<ng-template ngbPanelTitle>
										<h5>Myoclonic</h5>
										</ng-template>
									<ng-template ngbPanelContent>
									<div class="card-block">
										<div class="col-md-12" >
										A seizure with rapid, brief contractions of muscles, usually occurring at the same time on both sides of the body.
										</div>
									</div>
									</ng-template>
								</ngb-panel>
								<ngb-panel>
									<ng-template ngbPanelTitle>
										<h5>Myoclonic Cluster</h5>
										</ng-template>
									<ng-template ngbPanelContent>
									<div class="card-block">
										<div class="col-md-12" >
										Same as an individual Myoclonic seizure but happens repetitively fairly close together. Seizure Tracker users have the capability of recording a related event count with this seizure type selection.
										</div>
									</div>
									</ng-template>
								</ngb-panel>
								<ngb-panel>
									<ng-template ngbPanelTitle>
										<h5>Atonic</h5>
										</ng-template>
									<ng-template ngbPanelContent>
									<div class="card-block">
										<div class="col-md-12" >
										A seizure with a sudden loss of muscle tone, often resulting in a sudden collapse. These seizures are also known as drop seizures.
										</div>
									</div>
									</ng-template>
								</ngb-panel>
								<ngb-panel>
									<ng-template ngbPanelTitle>
										<h5>Absence</h5>
										</ng-template>
									<ng-template ngbPanelContent>
									<div class="card-block">
										<div class="col-md-12" >
										A seizure with a brief lapse of awareness and or staring spell.
										</div>
									</div>
									</ng-template>
								</ngb-panel>
								<ngb-panel>
									<ng-template ngbPanelTitle>
										<h5>Atypical Absence</h5>
										</ng-template>
									<ng-template ngbPanelContent>
									<div class="card-block">
										<div class="col-md-12" >
										A seizure with a brief lapse of awareness and or staring spell but can be responsive.
										</div>
									</div>
									</ng-template>
								</ngb-panel>
								<ngb-panel>
									<ng-template ngbPanelTitle>
										<h5>Infantile Spasms</h5>
										</ng-template>
									<ng-template ngbPanelContent>
									<div class="card-block">
										<div class="col-md-12" >
										Clusters of quick, sudden movements often occurring in children between 3 months and two years but can continue through later years.
										</div>
									</div>
									</ng-template>
								</ngb-panel>
								<ngb-panel>
									<ng-template ngbPanelTitle>
										<h5>Status</h5>
										</ng-template>
									<ng-template ngbPanelContent>
									<div class="card-block">
										<div class="col-md-12" >
										Status epilepticus is said to occur when a seizure lasts too long or when seizures occur close together and the person doesn't recover between seizures.
										</div>
									</div>
									</ng-template>
								</ngb-panel>
								<ngb-panel>
									<ng-template ngbPanelTitle>
										<h5>Unknown</h5>
										</ng-template>
									<ng-template ngbPanelContent>
									<div class="card-block">
										<div class="col-md-12" >
										If you do not know that seizure is
										</div>
									</div>
									</ng-template>
								</ngb-panel>
								</ngb-accordion>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>