<div class="h-100">
    <div>
        <div class="mt-4 card card-block mx-auto" style="max-width: 30rem !important;">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 justify-content-center align-items-center text-center">
                        <div *ngIf="!loadedInfoPatient">
                            <i class="fa fa-spinner fa-spin fa-fw"></i>
                        </div>
                        <div *ngIf="loadedInfoPatient">
                            <div *ngIf="basicInfoPatient.group==null || step!='0'">
                                <div *ngIf="step=='0'">
                                    <h1>{{'homeraito.t1' | translate }}</h1>
                                    <div class="center-elements">
                                        <button class="mr-1 btn btn-primary" (click)="question1('No');">{{'generics.No' | translate }}</button>
                                        <button class="ml-1 btn btn-primary" (click)="question1('Yes');">{{'generics.Yes' | translate }}</button>
                                    </div>
                                </div>
                                <div *ngIf="step=='1'">
                                    <h1>{{'homeraito.t2' | translate }}</h1>
                                    <select id="group" name="group" class="form-control" ngModel
                                        [(ngModel)]="basicInfoPatient.group">
                                        <option [value]="null" disabled selected>--{{'registration.Please select a
                                            group' | translate }}--</option>
                                        <option *ngFor="let group of groups" [ngValue]="group.name">
                                            <span *ngIf="group.name == duchennenetherlands">Duchenne Parent Project
                                                Netherlands</span>
                                            <span *ngIf="group.name == 'Stop Sanfilippo'">Stop Sanfilippo</span>
                                            <span *ngIf="group.name == 'Epilepsy'">{{'personalinfo.Patients with
                                                epilepsy' | translate }}</span>
                                            <span
                                                *ngIf="group.name != 'Stop Sanfilippo' && group.name != 'Epilepsy'  && group.name != 'Undiagnosed'  && group.name != 'None' && group.name != duchennenetherlands">{{group.name}}</span>
                                            <span *ngIf="group.name == 'Undiagnosed'">{{'personalinfo.I dont have a
                                                diagnosis' | translate }}</span>
                                            <span *ngIf="group.name == 'None'">{{'personalinfo.I dont belong to a
                                                patient group' | translate }}</span>
                                        </option>
                                    </select>
                                    <div class="center-elements">
                                        <button class="mt-3 btn btn-primary" [disabled]="basicInfoPatient.group==null"
                                            (click)="question2();">{{'generics.Next' | translate }}</button>
                                    </div>
                                </div>
                                <div *ngIf="step=='2'">
                                    <h1>{{'homeraito.t3' | translate }}</h1>
                                    <div class="center-elements">
                                        <button class="mr-1 btn btn-primary" (click)="question3('No');">{{'generics.No' | translate }}</button>
                                        <button class="ml-1 btn btn-primary" (click)="question3('Yes');">{{'generics.Yes' | translate }}</button>
                                    </div>
                                    <span class="text-muted font-small-2">
                                        {{'homeraito.p1' | translate }}
                                    </span>
                                </div>
                                <div *ngIf="step=='3'">
                                    <h1>{{'homeraito.p2' | translate }}</h1>
                                    <div class="center-elements">
                                        <button class="btn btn-primary" (click)="goStep('0')">{{'wizard.btn' | translate }}</button>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="basicInfoPatient.group!=null && step=='0'">
                                <h1>{{'homeraito.p3' | translate }}</h1>
                                <div class="input-group mb-1">
                                    <input type="text" class="form-control" aria-label="Search here" [(ngModel)]="searchGpt3">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i
                                                class="fa fa-microphone microphone-ico"></i></span>
                                    </div>
                                </div>
                                <button class="mr-1 btn btn-secondary" (click)="searchOpenAi();"><i class="fa fa-search search-ico"></i> {{'homeraito.Search' | translate }}</button>

                                <a routerLink="/charts" class="round btn btn-secondary mt-4 mb-4 btn-block"
                                    title="I want to join">
                                    <span class="menu-title"><i class="fas fa-chart-bar mr-2"></i> {{'homeraito.p4' | translate }}</span>
                                </a>
                                <a routerLink="/seizures" class="btn btn-primary btn-block" title="{{'homeraito.p5' | translate }}">
                                    <span class="menu-title">{{'homeraito.p5' | translate }}</span>
                                </a>
                                <a routerLink="/feel" class="btn btn-primary btn-block" title="{{'homeraito.p6' | translate }}">
                                    <span class="menu-title">{{'homeraito.p6' | translate }}</span>
                                </a>
                                <a [routerLink]="['/medication', { addOther: true}]" class="btn btn-primary btn-block" title="{{'homeraito.p7' | translate }}">
                                    <span class="menu-title">{{'homeraito.p7' | translate }}</span>
                                </a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>