<div class="h-100">
    <div class="card card-block mx-auto" style="max-width: 60rem !important;">
        <h3 class="mt-3 ml-2 p-2">{{'menu.Clinical data of immunodeficiencies' | translate }}</h3>
        <div class="p-2 ml-2">
            <form [formGroup]="formGroup">
                <h4>1. Infecciones y complicaciones</h4>
                <div class="form-group">
                    <label class="mr-2">Do you have infecciones?</label>
                    <mat-radio-group formControlName="hasInfections" aria-label="Select an option" (change)="checkAndAddInfection($event)">
                        <mat-radio-button value="yes" class="mr-2">{{'generics.Yes' | translate }}</mat-radio-button>
                        <mat-radio-button value="no">{{'generics.No' | translate }}</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div *ngIf="formGroup.get('hasInfections').value == 'yes'" formArrayName="infections" class="">
                    <div *ngFor="let infection of infectionsArray.controls; let i=index" [formGroupName]="i" class="row mt-3">
                        <div class="col-md-12"><label><strong>Infección {{i+1}}</strong> <button (click)="removeInfection(i)" class="ml-1 btn-sm btn btn-white fa fa-trash"></button></label> </div>
                        <div class="col-md-6">
                            <label for="name">Tipo</label>
                            <input formControlName="name" id="name" name="name" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <label for="start">{{'generics.Start Date' | translate }}</label>
                            <div class="">
                                <mat-form-field class="mr-sm-24" fxFlex  >
                                    <input matInput class="grey" readonly [matDatepicker]="pickeri"
                                                   autocomplete="off"
                                                   formControlName="start">
                                    <mat-datepicker-toggle matSuffix [for]="pickeri"></mat-datepicker-toggle>
                                    <mat-datepicker  #pickeri></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="duration">{{'generics.End Date' | translate }}</label>
                            <div class="">
                                <mat-form-field class="mr-sm-24" fxFlex  >
                                    <input matInput class="grey" readonly [matDatepicker]="pickerd"
                                                   autocomplete="off"
                                                   formControlName="duration">
                                    <mat-datepicker-toggle matSuffix [for]="pickerd"></mat-datepicker-toggle>
                                    <mat-datepicker  #pickerd></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="treatment">Tratamientos</label>
                            <div formArrayName="treatments" class="row">
                                <div *ngFor="let treatment of infection.controls.treatments.controls; let t=index" [formGroupName]="t" class="col-md-6 row mb-2">
                                  <div class="col-md-10">
                                    <label for="treatment">Tratamiento {{t+1}} <button (click)="removeTreatment(infection.controls.treatments, t)" class="ml-1 btn btn-white btn-sm fa fa-trash"></button></label>
                                    <input formControlName="treatment" id="treatment{{i}}{{t}}" name="treatment{{i}}{{t}}" class="form-control">
                                  </div>
                                  <div class="col-md-2">
                                    
                                  </div>
                                </div>
                              </div>
                              
                              <button (click)="addTreatment(infection.controls.treatments)" class="btn btn-dark mb-3 mt-2">Agregar tratamiento</button>
                          </div>
                    </div>
                    <button (click)="addInfection()" class="btn btn-dark mb-3 mt-2"><em class="ft-plus mr-1"></em>Agregar infeccion</button>
                </div>
                <div class="form-group">
                    <label class="mr-2">Do you have other complications?</label>
                    <mat-radio-group formControlName="hasComplications" aria-label="Select an option" (change)="checkAndAddComplication($event)">
                        <mat-radio-button value="yes" class="mr-2">{{'generics.Yes' | translate }}</mat-radio-button>
                        <mat-radio-button value="no">{{'generics.No' | translate }}</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div *ngIf="formGroup.get('hasComplications').value == 'yes'" formArrayName="complications" class="">
                    <div *ngFor="let complication of complicationsArray.controls; let i=index" [formGroupName]="i" class="row mt-3">
                        <div class="col-md-12"><label><strong>Complicación {{i+1}}</strong> <button (click)="removeComplication(i)" class="ml-1 btn-sm btn btn-white fa fa-trash"></button></label> </div>
                        <div class="col-md-6">
                            <label for="name">Tipo</label>
                            <input formControlName="name" id="name" name="name" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <label for="start">{{'generics.Start Date' | translate }}</label>
                            <div class="">
                                <mat-form-field class="mr-sm-24" fxFlex  >
                                    <input matInput class="grey" readonly [matDatepicker]="pickeri"
                                                   autocomplete="off"
                                                   formControlName="start">
                                    <mat-datepicker-toggle matSuffix [for]="pickeri"></mat-datepicker-toggle>
                                    <mat-datepicker  #pickeri></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="duration">{{'generics.End Date' | translate }}</label>
                            <div class="">
                                <mat-form-field class="mr-sm-24" fxFlex  >
                                    <input matInput class="grey" readonly [matDatepicker]="pickerd"
                                                   autocomplete="off"
                                                   formControlName="duration">
                                    <mat-datepicker-toggle matSuffix [for]="pickerd"></mat-datepicker-toggle>
                                    <mat-datepicker  #pickerd></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="treatment">Tratamientos</label>
                            <div formArrayName="treatments" class="row">
                                <div *ngFor="let treatment of complication.controls.treatments.controls; let t=index" [formGroupName]="t" class="col-md-6 row mb-2">
                                  <div class="col-md-10">
                                    <label for="treatment">Tratamiento {{t+1}}<button (click)="removeTreatment(complication.controls.treatments, t)" class="ml-1 btn btn-white btn-sm fa fa-trash"></button></label>
                                    <input formControlName="treatment" id="treatment{{i}}{{t}}" name="treatment{{i}}{{t}}" class="form-control">
                                  </div>
                                  <div class="col-md-2">
                                    
                                  </div>
                                </div>
                              </div>
                              
                              <button (click)="addTreatment(complication.controls.treatments)" class="btn btn-dark mb-3 mt-2">Agregar tratamiento</button>
                          </div>
                    </div>
                    <button (click)="addComplication()" class="btn btn-dark mb-3 mt-2"> <em class="ft-plus mr-1"></em>Agregar complicación</button>
                </div>
                <h4 class="mt-4">2. Variables Inmunológicas</h4>
                <div class="form-group mt-3">
                    <div formGroupName="immunologicalVariables">
                        <div class="mb-2">
                          <label>IgG sérico</label>
                          <div formArrayName="serumIgG" class="row">
                            <div *ngFor="let item of getFormArray('serumIgG').controls; let i=index" [formGroupName]="i" class="col-md-6 row mb-2">
                                <label class="col-md-12" for="treatment">IgG {{i+1}}<button (click)="removeImmunologicalItem('serumIgG', i)" class="ml-1 btn btn-white btn-sm fa fa-trash"></button></label>
                                <div class="col-md-10">
                                    <div class="col-md-12 row">
                                        <input class="col-md-6 form-control" formControlName="value">
                                        <div class="col-md-6">
                                          <mat-form-field class="mr-sm-24" fxFlex  >
                                              <input matInput class="grey" readonly [matDatepicker]="pickeri"
                                                             autocomplete="off"
                                                             formControlName="date">
                                              <mat-datepicker-toggle matSuffix [for]="pickeri"></mat-datepicker-toggle>
                                              <mat-datepicker  #pickeri></mat-datepicker>
                                          </mat-form-field>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button (click)="addImmunologicalItem('serumIgG')" class="btn btn-dark mb-3 mt-2"><em class="ft-plus mr-1"></em>Agregar IgG</button>
                            </div>
                          </div>
                        </div>
                        <div class="mb-2">
                            <label>IgA sérico</label>
                            <div formArrayName="serumIgA" class="row">
                              <div *ngFor="let item of getFormArray('serumIgA').controls; let i=index" [formGroupName]="i" class="col-md-6 row mb-2">
                                  <label class="col-md-12" for="treatment">IgA {{i+1}}<button (click)="removeImmunologicalItem('serumIgA', i)" class="ml-1 btn btn-white btn-sm fa fa-trash"></button></label>
                                  <div class="col-md-10">
                                      <div class="col-md-12 row">
                                          <input class="col-md-6 form-control" formControlName="value">
                                          <div class="col-md-6">
                                            <mat-form-field class="mr-sm-24" fxFlex  >
                                                <input matInput class="grey" readonly [matDatepicker]="pickeri"
                                                               autocomplete="off"
                                                               formControlName="date">
                                                <mat-datepicker-toggle matSuffix [for]="pickeri"></mat-datepicker-toggle>
                                                <mat-datepicker  #pickeri></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-12">
                                  <button (click)="addImmunologicalItem('serumIgA')" class="btn btn-dark mb-3 mt-2"><em class="ft-plus mr-1"></em>Agregar IgA</button>
                              </div>
                            </div>
                          </div>
                          <div class="mb-2">
                            <label>IgM sérico</label>
                            <div formArrayName="serumIgM" class="row">
                              <div *ngFor="let item of getFormArray('serumIgM').controls; let i=index" [formGroupName]="i" class="col-md-6 row mb-2">
                                  <label class="col-md-12" for="treatment">IgM {{i+1}}<button (click)="removeImmunologicalItem('serumIgM', i)" class="ml-1 btn btn-white btn-sm fa fa-trash"></button></label>
                                  <div class="col-md-10">
                                      <div class="col-md-12 row">
                                          <input class="col-md-6 form-control" formControlName="value">
                                          <div class="col-md-6">
                                            <mat-form-field class="mr-sm-24" fxFlex  >
                                                <input matInput class="grey" readonly [matDatepicker]="pickeri"
                                                               autocomplete="off"
                                                               formControlName="date">
                                                <mat-datepicker-toggle matSuffix [for]="pickeri"></mat-datepicker-toggle>
                                                <mat-datepicker  #pickeri></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-12">
                                  <button (click)="addImmunologicalItem('serumIgM')" class="btn btn-dark mb-3 mt-2"><em class="ft-plus mr-1"></em>Agregar IgM</button>
                              </div>
                            </div>
                          </div>
                          <div class="mb-2">
                            <label>IgE sérico</label>
                            <div formArrayName="serumIgE" class="row">
                              <div *ngFor="let item of getFormArray('serumIgE').controls; let i=index" [formGroupName]="i" class="col-md-6 row mb-2">
                                  <label class="col-md-12" for="treatment">IgE {{i+1}}<button (click)="removeImmunologicalItem('serumIgE', i)" class="ml-1 btn btn-white btn-sm fa fa-trash"></button></label>
                                  <div class="col-md-10">
                                      <div class="col-md-12 row">
                                          <input class="col-md-6 form-control" formControlName="value">
                                          <div class="col-md-6">
                                            <mat-form-field class="mr-sm-24" fxFlex  >
                                                <input matInput class="grey" readonly [matDatepicker]="pickeri"
                                                               autocomplete="off"
                                                               formControlName="date">
                                                <mat-datepicker-toggle matSuffix [for]="pickeri"></mat-datepicker-toggle>
                                                <mat-datepicker  #pickeri></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-12">
                                  <button (click)="addImmunologicalItem('serumIgE')" class="btn btn-dark mb-3 mt-2"><em class="ft-plus mr-1"></em>Agregar IgE</button>
                              </div>
                            </div>
                          </div>
                          <div class="mb-2">
                            <label>Hb</label>
                            <div formArrayName="Hb" class="row">
                              <div *ngFor="let item of getFormArray('hb').controls; let i=index" [formGroupName]="i" class="col-md-6 row mb-2">
                                  <label class="col-md-12" for="treatment">Hb {{i+1}}<button (click)="removeImmunologicalItem('Hb', i)" class="ml-1 btn btn-white btn-sm fa fa-trash"></button></label>
                                  <div class="col-md-10">
                                      <div class="col-md-12 row">
                                          <input class="col-md-6 form-control" formControlName="value">
                                          <div class="col-md-6">
                                            <mat-form-field class="mr-sm-24" fxFlex  >
                                                <input matInput class="grey" readonly [matDatepicker]="pickeri"
                                                               autocomplete="off"
                                                               formControlName="date">
                                                <mat-datepicker-toggle matSuffix [for]="pickeri"></mat-datepicker-toggle>
                                                <mat-datepicker  #pickeri></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-12">
                                  <button (click)="addImmunologicalItem('Hb')" class="btn btn-dark mb-3 mt-2"><em class="ft-plus mr-1"></em>Agregar Hb</button>
                              </div>
                            </div>
                          </div>
                        
                          <div class="mb-2">
                            <label>Plaquetas</label>
                            <div formArrayName="platelets" class="row">
                              <div *ngFor="let item of getFormArray('platelets').controls; let i=index" [formGroupName]="i" class="col-md-6 row mb-2">
                                  <label class="col-md-12" for="treatment">Plaquetas {{i+1}}<button (click)="removeImmunologicalItem('platelets', i)" class="ml-1 btn btn-white btn-sm fa fa-trash"></button></label>
                                  <div class="col-md-10">
                                      <div class="col-md-12 row">
                                          <input class="col-md-6 form-control" formControlName="value">
                                          <div class="col-md-6">
                                            <mat-form-field class="mr-sm-24" fxFlex  >
                                                <input matInput class="grey" readonly [matDatepicker]="pickeri"
                                                               autocomplete="off"
                                                               formControlName="date">
                                                <mat-datepicker-toggle matSuffix [for]="pickeri"></mat-datepicker-toggle>
                                                <mat-datepicker  #pickeri></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-12">
                                  <button (click)="addImmunologicalItem('platelets')" class="btn btn-dark mb-3 mt-2"><em class="ft-plus mr-1"></em>Agregar plaquetas</button>
                              </div>
                            </div>
                          </div>
                          <div class="mb-2">
                            <label>Linfocitos</label>
                            <div formArrayName="lymphocytes" class="row">
                              <div *ngFor="let item of getFormArray('lymphocytes').controls; let i=index" [formGroupName]="i" class="col-md-6 row mb-2">
                                  <label class="col-md-12" for="treatment">Linfocitos {{i+1}}<button (click)="removeImmunologicalItem('lymphocytes', i)" class="ml-1 btn btn-white btn-sm fa fa-trash"></button></label>
                                  <div class="col-md-10">
                                      <div class="col-md-12 row">
                                          <input class="col-md-6 form-control" formControlName="value">
                                          <div class="col-md-6">
                                            <mat-form-field class="mr-sm-24" fxFlex  >
                                                <input matInput class="grey" readonly [matDatepicker]="pickeri"
                                                               autocomplete="off"
                                                               formControlName="date">
                                                <mat-datepicker-toggle matSuffix [for]="pickeri"></mat-datepicker-toggle>
                                                <mat-datepicker  #pickeri></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-12">
                                  <button (click)="addImmunologicalItem('lymphocytes')" class="btn btn-dark mb-3 mt-2"><em class="ft-plus mr-1"></em>Agregar linfocitos</button>
                              </div>
                            </div>
                          </div>

                    </div>              
                  </div>
                  <h4 class="mt-4">3. Tratamientos</h4>
                  <div class="form-group">
                      <label class="mr-2">Do you have usual treatments?</label>
                      <mat-radio-group formControlName="hasUsualTreatments" aria-label="Select an option" (change)="checkAndAddTreatment($event)">
                          <mat-radio-button value="yes" class="mr-2">{{'generics.Yes' | translate }}</mat-radio-button>
                          <mat-radio-button value="no">{{'generics.No' | translate }}</mat-radio-button>
                      </mat-radio-group>
                  </div>
                  <div *ngIf="formGroup.get('hasUsualTreatments').value == 'yes'" formArrayName="usualTreatments" class="">
                      <div *ngFor="let treatment of usualTreatmentsArray.controls; let i=index" [formGroupName]="i" class="row mt-3 mb-3">
                          <div class="col-md-12"><label><strong>Tratamiento {{i+1}}</strong><button (click)="removeUsualTreatment(i)" class="ml-1 btn-sm btn btn-white fa fa-trash"></button></label> </div>
                          <div class="col-md-6">
                              <label for="name">Nombre</label>
                              <input formControlName="name" id="name" name="name" class="form-control">
                          </div>
                          <div class="col-md-6">
                            <label for="start">{{'seizures.Starts At' | translate }}</label>
                            <div class="">
                                <mat-form-field class="mr-sm-24" fxFlex  >
                                    <input matInput class="grey" readonly [matDatepicker]="pickeri"
                                                   autocomplete="off"
                                                   formControlName="start">
                                    <mat-datepicker-toggle matSuffix [for]="pickeri"></mat-datepicker-toggle>
                                    <mat-datepicker  #pickeri></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                          <div class="col-md-3">
                              <label for="usualDose">Dosis (mg)</label>
                              <input type="number" formControlName="usualDose" id="usualDose" name="usualDose" class="form-control">
                          </div>
                          <div class="col-md-3">
                              <label for="usualFrequency">Frecuencia (days)</label>
                              <input type="number" formControlName="usualFrequency" id="usualFrequency" name="usualFrequency" class="form-control">
                          </div>
                      </div>
                      <button (click)="addUsualTreatment()" class="btn btn-dark mb-3 mt-2"><em class="ft-plus mr-1"></em>Agregar tratamiento</button>
                  </div>
                  <div class="form-group">
                      <label class="mr-2">Do you have emergency treatments?</label>
                      <mat-radio-group formControlName="hasEmergencyTreatments" aria-label="Select an option">
                          <mat-radio-button value="yes" class="mr-2">{{'generics.Yes' | translate }}</mat-radio-button>
                          <mat-radio-button value="no">{{'generics.No' | translate }}</mat-radio-button>
                      </mat-radio-group>
                  </div>
                  <div *ngIf="formGroup.get('hasEmergencyTreatments').value == 'yes'" class="">
                    <div formGroupName="emergencyTreatments" class="row mt-3 mb-3">
                        <div class="col-md-12">
                            <label>Antibióticos</label>
                            <div formArrayName="emergencyAntibiotics" class="row">
                              <div *ngFor="let antibiotic of emergencyTreatments.get('emergencyAntibiotics').controls; let i=index" [formGroupName]="i" class="col-md-6 mb-2">
                                <div><label><strong>Antibiótico {{i+1}}</strong><button (click)="removeItem('emergencyAntibiotics', i)" class="ml-1 btn-sm btn btn-white fa fa-trash"></button></label> </div>
                                <input formControlName="treatment" class="col-md-11 form-control">
                              </div>
                              <div class="col-md-12">
                                <button (click)="addItem('emergencyAntibiotics')" class="btn btn-dark mb-3 mt-2">Agregar antibiótico</button>
                              </div>
                              
                            </div>
                          </div>
                          <div class="col-md-12">
                            <label>Corticosteroides</label>
                            <div formArrayName="emergencyCorticosteroids" class="row">
                              <div *ngFor="let antibiotic of emergencyTreatments.get('emergencyCorticosteroids').controls; let i=index" [formGroupName]="i" class="col-md-6 mb-2">
                                <div><label><strong>Corticosteroide {{i+1}}</strong><button (click)="removeItem('emergencyCorticosteroids', i)" class="ml-1 btn-sm btn btn-white fa fa-trash"></button></label> </div>
                                <input formControlName="treatment" class="col-md-11 form-control">
                              </div>
                              <div class="col-md-12">
                                <button (click)="addItem('emergencyCorticosteroids')" class="btn btn-dark mb-3 mt-2">Agregar corticosteroides</button>
                              </div>
                            </div>
                          </div>
                    </div>
                  </div>

                <button class="mt-4 mb-2 btn btn-primary" type="button" [disabled]="saving" (click)="onSubmit()"><span *ngIf="!saving">{{'generics.Save' | translate}}</span><span *ngIf="saving">{{'generics.Saving' | translate}}</span> <span *ngIf="saving" class="ml-2"><em class="fa fa-spinner fa-spin fa-fw"></em></span></button>
                
            </form>
        </div>
    </div>
</div>