<!-- Navbar (Header) Starts -->
<nav class="navbar navbar-expand-lg navbar-light bg-faded damemarger custom-navbar" style="padding: 0 25px !important;" [ngClass]="((role == 'Clinical') && isClinicalPage)?'menuClinic-sm':''" >
    <div class="container-fluid">
      <div>
          <button type="button" class="mt-2 d-lg-none navbar-toggle float-left" data-toggle="collapse" (click)="toggleSidebar()">
              <span class="sr-only">{{'navbar.Toggle navigation' | translate }}</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <span class="navbar-header-logos d-none d-lg-block">
            <img *ngIf="isHomePage" class="logo-img" src='assets/img/logo-raito.png' />
            <!--<img *ngIf="!isHomePage" style="cursor:pointer;" class="logo-img" src='assets/img/logo-raito.png' [routerLink]="redirectUrl" />-->
          </span>
      </div>
      <div class="" *ngIf="(role == 'Clinical') && !isClinicalPage && !isHomePage">
        <div class="navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav m-r-0">
              <li class="nav-item d-none d-lg-block" style="line-height: 1rem;">
                <a class="font-weight-bold" [routerLink]="redirectUrl" >
                  <span class="btn-no-style cursor-pointer" style="margin-bottom: 0;">{{'diagnosis.BackCases' | translate }}</span>
                </a>
              </li>
            </ul>
          </div>
      </div>
      <div class="d-none d-lg-block" *ngIf="role == 'Admin'">
        <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-r-0">
              <li class="mr-2 active nav-link" *ngIf="actualUrl!='/admin/dashboard/admingtp'">
                <a  [routerLink]="redirectUrl">
                  <h3 style="margin-bottom: 0;">{{'adminGTP.BackGTPData' | translate }}</h3>
                </a>
              </li>
              <li class="mr-2 active nav-link disabled" *ngIf="actualUrl=='/admin/dashboard/admingtp'">
                <a>
                  <h3 style="margin-bottom: 0;">{{'adminGTP.GTP data' | translate }}</h3>
                </a>
              </li>
            </ul>
        </div>
    </div>
        <div class="navbar-container pl-0 pt-2">
            <div  id="navbarSupportedContent">
                <ul class="navbar-nav m-r-0">
                  <li class="nav-item mr-2" ngbDropdown display="dynamic" [placement]="placement">
                        <a class="nav-link position-relative" id="dropdownBasic2" ngbDropdownToggle title="{{'topnavbar.Notifications' | translate }}">
                            <i class="ft-bell font-medium-3 blue-grey darken-4"></i>
                            <span *ngIf="tasks.length>0" class="notification badge badge-pill badge-danger">{{tasks.length}}</span>
                            <p class="d-none">Notifications</p>
                        </a>
                        <div class="notification-dropdown" ngbDropdownMenu aria-labelledby="dropdownBasic2" [ngbCollapse]="isCollapsed">
                            <div>
                                <a class="dropdown-item noti-container py-3 border-bottom border-bottom-blue-grey border-bottom-lighten-4" style="cursor: pointer;" *ngFor="let task of tasks ; let j = index">
                                    <i class="ft-bell info float-left d-block font-large-1 mt-1 mr-2"></i>
                                    <span class="noti-wrapper">
                                        <span class="noti-title line-height-1 d-block text-bold-400 info">{{'topnavbar.Analyzing information' | translate }}</span>
                                        <span class="noti-text">
                                          <span>
                                            <strong>{{'topnavbar.Patient' | translate }}: </strong>
                                            <span *ngIf="task.status!='Succeeded'">{{task.patientName}}</span>
                                            <span *ngIf="task.status=='Succeeded'"><a class="primary" (click)="goToPatient(task.patientId, j)">{{task.patientName}}</a></span>
                                          </span>
                                          <span class="ml-2">
                                            <strong>{{'topnavbar.Status' | translate }}: </strong>
                                            <span *ngIf="task.status=='Created'">{{'topnavbar.Created' | translate }}</span>
                                            <span *ngIf="task.status=='Running'">{{'topnavbar.Running' | translate }}</span>
                                            <span *ngIf="task.status=='Succeeded'">{{'topnavbar.Succeeded' | translate }}</span>
                                            <span *ngIf="task.status=='Failed'">{{'topnavbar.Failed' | translate }}</span>
                                          </span>
                                        </span>
                                    </span>
                                    <a *ngIf="task.status=='Failed' || task.status=='Succeeded'" class="float-right close-task" data-original-title="" title="{{'generics.Close' | translate }}" (click)="deleteTask(j)">
                                      <i class="ft-x"></i>
                                    </a>
                                </a>
                                <a *ngIf="tasks.length>0" class="noti-footer primary text-center d-block border-top border-top-blue-grey border-top-lighten-4 text-bold-400 py-1" (click)="clearNotifications();">{{'topnavbar.Clear notifications' | translate }}</a>
                                <span *ngIf="tasks.length==0" class="noti-footer text-center text-muted d-block border-top border-top-blue-grey border-top-lighten-4 text-bold-400 py-1" (click)="isCollapsed = !isCollapsed">{{'topnavbar.There are no notifications to show' | translate }}</span>
                            </div>
                          </div>

                    </li>
                  <li class="nav-item mr-2" ngbDropdown display="dynamic" [placement]="placement">
                      <a class="nav-link position-relative" id="dropdownBasic3" ngbDropdownToggle title="{{'generics.Options' | translate }}">
                          <i class="ft-user font-medium-3 blue-grey darken-4"></i>
                          <p class="d-none">{{'navbar.User Settings' | translate }}</p>
                      </a>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic3">
                          <a class="dropdown-item py-1" routerLink="/pages/profile">
                              <i class="ft-edit mr-2"></i>
                              <span>{{'navbar.My Profile' | translate }}</span>
                          </a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="javascript:;" (click)="logout()">
                              <i class="ft-power mr-2"></i>
                              <span>{{'navbar.Logout' | translate }}</span>
                          </a>
                          <div *ngIf="isApp && isAndroid" class="dropdown-divider"></div>
                          <a *ngIf="isApp && isAndroid" class="dropdown-item" href="javascript:;" (click)="exit()">
                              <i class="ft-log-out mr-2"></i>
                              <span>{{'navbar.Exit' | translate }}</span>
                          </a>
                      </div>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
