
<div class="h-100">
    <div class="card card-block mx-auto" style="max-width: 30rem !important;">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-12 align-items-center">
                    <div>
                        <h2 class="content-header mt-0">{{'mydata.title' | translate }}</h2>
                        <p>{{'mydata.desc' | translate }}</p>
                        <!--One open panel at a time Starts-->
                    <ngb-accordion #accordion [closeOthers]="true">
                        <ngb-panel id="1">
                            <ng-template ngbPanelTitle>
                                <h5 class="mb-0"><i class="fa fa-cloud-upload fa-1_5x mr-2 float-left"></i> <span> {{'mydata.q1' | translate }}</span> <span class="float-right">
                                        <span
                                            [ngClass]="{'ft-chevron-up': isOpen(1), 'ft-chevron-down': !isOpen(1)}"></span>
                                    </span></h5>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <div>
                                    <p class="text-muted">{{'mydata.a1' | translate }}</p>
                                </div>
                                <div>
                                    <p class="danger">{{'generics.Under construction' | translate }}</p>
                                    <img class="w-100" src='assets/img/pages/democontainer.jpg'>
                                </div>
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel id="2">
                            <ng-template ngbPanelTitle>
                                <h5 class="mb-0"><i class="fas fa-key fa-1_5x mr-2 float-left"></i> <span> {{'mydata.q2' | translate }}</span> <span class="float-right">
                                        <span
                                            [ngClass]="{'ft-chevron-up': isOpen(2), 'ft-chevron-down': !isOpen(2)}"></span>
                                    </span></h5>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <div>
                                    <div class="mb-2">
                                        <img style="width: 80%;" src='assets/img/pages/dravet.jpg'>
                                    </div>
                                    
                                    <p class="text-muted" *ngIf="consentgroup">{{'mydata.a2.1' | translate }}</p>
                                    <p class="text-muted" *ngIf="!consentgroup">{{'mydata.a2.6' | translate }}</p>
                                    <p class="text-muted">
                                        <span class="d-block">- <span [innerHTML]="'mydata.a2.2' | translate"></span></span>
                                        <span class="d-block">- <span [innerHTML]="'mydata.a2.3' | translate"></span></span>
                                        <span class="d-block">- {{'mydata.a2.4.1' | translate }} <a routerLink="/privacy-policy">{{'mydata.a2.4.2' | translate }}</a></span>
                                    </p>
                                </div>
                                <div>
                                    <div class="" *ngIf="!hasGroup">
                                        <p>{{'mydata.You do not belong to any patient group' | translate }}</p>
                                        <p>{{'mydata.Here is a message on why this is important' | translate }}</p>
                                        <button class="btn btn-dark" type="button" routerLink="/home">{{'mydata.Add patient group' | translate }}</button>
                                    </div>
                                    <div class="" *ngIf="hasGroup">
                                        <p class="text-muted mb-0" *ngIf="consentgroup">{{'mydata.a2.5' | translate }}</p>
                                        <p class="text-muted mb-0" *ngIf="!consentgroup">{{'mydata.a2.7' | translate }}</p>
                                        <button *ngIf="!consentgroup" class="btn btn-dark" type="button"
                                            (click)="changeConsentGroup(true)">{{'mydata.I give my consent' | translate }}</button>
                                        <button *ngIf="consentgroup" class="btn btn-primary" type="button"
                                        (click)="changeConsentGroup(false)">{{'mydata.Reject consent' | translate }}</button>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel id="3">
                            <ng-template ngbPanelTitle>
                                <h5 class="mb-0"><i class="fas fa-share fa-1_5x mr-2 float-left"></i> <span> {{'mydata.I want to share my data' | translate }}</span> <span class="float-right">
                                        <span
                                            [ngClass]="{'ft-chevron-up': isOpen(3), 'ft-chevron-down': !isOpen(3)}"></span>
                                    </span></h5>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <div>
                                    <div *ngIf="!showShare">
                                        <p class="text-muted">{{'mydata.sharepart1' | translate }}</p>
                                        <p class="text-muted">{{'mydata.sharepart2' | translate }}</p>
                                        <div class="center-elements">
                                            <button class="btn btn-dark" type="button" (click)="showShare=!showShare">{{'generics.ShareData' | translate }}</button>
                                        </div>
                                    </div>
                                    <div *ngIf="showShare">
                                        <button class="btn btn-dark btn-sm" (click)="showShare=false;">{{'generics.Back' | translate }}</button>
                                        <p class="danger">{{'generics.Under construction' | translate }}</p>
                                        <img class="w-100" src='assets/img/pages/demoshare.jpg'>
                                    </div>
                                </div>

                            </ng-template>
                        </ngb-panel>
                        <ngb-panel id="4">
                            <ng-template ngbPanelTitle>
                                <h5 class="mb-0"><i class="fas fa-file-export fa-1_5x mr-2 float-left"></i> <span> {{'mydata.I want to export my data' | translate }}</span> <span class="float-right">
                                        <span
                                            [ngClass]="{'ft-chevron-up': isOpen(4), 'ft-chevron-down': !isOpen(4)}"></span>
                                    </span></h5>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <div>
                                    <p class="text-muted">{{'mydata.exportText' | translate }}</p>
                                    <div class="center-elements">
                                        <button class="btn btn-dark" type="button"
                                            (click)="exportData()">{{'generics.ExportData' | translate }}</button>
                                        <div class="d-none"><span id="content"></span></div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel id="5">
                            <ng-template ngbPanelTitle>
                                <h5 class="mb-0"><i class="fa fa-trash fa-1_5x mr-2 float-left"></i> <span> {{'mydata.I want to delete my data' | translate }}</span> <span class="float-right">
                                        <span
                                            [ngClass]="{'ft-chevron-up': isOpen(5), 'ft-chevron-down': !isOpen(5)}"></span>
                                    </span></h5>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <div class="center-elements">
                                    <button class="btn btn-primary" type="button"
                                        (click)="confirmDelete()">{{'generics.Delete data' | translate }}</button>
                                </div>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                    <!--One open panel at a time Ends-->
                    <div>
                        <a class="danger font-small-1 mt-2" style="position: relative;top: 8px;"
                            (click)="showHelpFHIRPopup(contentInfoFHIR);">{{'mydata.All data saved with FHIR standard' | translate }}</a> <img
                            class="logo-img mt-1" style="height: 40px;" src='assets/img/elements/hl7_fhir.png' />
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<ng-template #contentInfoFHIR let-c="close" let-d="dismiss" appendTo="body">
    <div class="modal-header" id="idHeader">
        <h4 class="modal-title"><span class="danger" style="position: relative;top: 8px;">{{'mydata.What is FHIR' | translate }}</span> <img
                class="logo-img" style="height: 40px;" src='assets/img/elements/hl7_fhir.png' /></h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal();">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body content-wrapper p-2" id="idBody">
        <p>{{'mydata.FHIR1' | translate }}</p>
    </div>
</ng-template>