<div class="h-100">
    <div class="card card-block mx-auto" style="max-width: 30rem !important;">
        <div class="card-body pb-0">
            <div class="row">
                <div class="col-12 col-sm-12 align-items-center">
                    <a *ngIf="!showListQuestionnaires" (click)="showListQuestionnaires=true;init();" class="btn btn-primary float-right mb-2" title="{{'generics.Back' | translate }}">
                        <span class="menu-title">{{'generics.Back' | translate }}</span>
                    </a>
                    <h2 class="content-header mt-0 mb-2" *ngIf="showListQuestionnaires">{{'menu.Questionnaire' | translate }}</h2>
                    <h2 class="content-header mt-0 mb-2" *ngIf="!showListQuestionnaires">Test questionnaire</h2>
                </div>
                    <div class="col-12 col-sm-12 align-items-center">

                   
                    <div *ngIf="showListQuestionnaires && loadedProms">
                        <div *ngIf="questionnaires.length>0">
                            <p class="text-muted" style="line-height:normal;">{{'prom.subtitle' | translate }}</p>
                            <span *ngFor="let questionnaire of questionnaires ; let j = index" class="pb-2">
                                <div class="row mb-2">
                                    <div class="col-md-9">
                                        <span>{{questionnaire.info.title}} {{questionnaire.info.items.length-(questionnaire.info.items.length-questionnaire.answers.length)}}/{{questionnaire.info.items.length}}</span> <span *ngIf="(questionnaire.info.items.length-(questionnaire.info.items.length-questionnaire.answers.length))==(questionnaire.info.items.length)"><i class="ml-1 success fa fa-check"></i></span>
                                    </div>
                                    <div class="col-md-3">
                                        <a class="btn btn-white btn-sm" (click)="showListQuestionnaires=false;selectQuestionnaire(j)">
                                            <span class="" *ngIf="(questionnaire.info.items.length-(questionnaire.info.items.length-questionnaire.answers.length))==(questionnaire.info.items.length)">
                                                {{'prom.See answers' | translate }}
                                            </span>
                                            <span class="" *ngIf="(questionnaire.info.items.length-(questionnaire.info.items.length-questionnaire.answers.length))!=(questionnaire.info.items.length)">
                                                {{'charts.Answer' | translate }}
                                            </span>
                                          </a>
                                    </div>
                                </div>
                                
                                
                            </span>
                        </div>
                        <div *ngIf="questionnaires.length==0" class="mb-4">
                            {{'prom.no questionnaires' | translate }}
                        </div>
                    </div>
                    <div *ngIf="!showListQuestionnaires">
                        <p *ngIf="newproms.length>0 && step+1<=newproms.length && pendind" class="mb-0 pt-2"><ngb-progressbar type="dark" height="2rem" [value]="((step+1)/newproms.length)*100"><b>{{step+1}} /{{newproms.length}}</b></ngb-progressbar></p>
                        <p *ngIf="newproms.length>0 && step+1<=newproms.length && !pendind" class="mb-0 pt-2"><ngb-progressbar type="dark" height="2rem" [value]="((numSaved)/newproms.length)*100"><b>{{numSaved}} /{{newproms.length}}</b></ngb-progressbar></p>
                        <div *ngIf="pendind">
                            <div *ngIf="newproms.length>0 && loadedProms">
                                <div class="card mb-0">
                                    <div class="mb-3">
                                        <div *ngIf="step+1<=newproms.length">
                                            <div *ngFor="let item of actualQuestionnaire.info.items ; let k = index"> 
                                                <div *ngIf="actualProm.idProm==item.idProm">
                                                    <span>{{item.text}}</span>
                                                    <div *ngIf="item.type=='radioButtons'" class="mt-1">
                                                        <div class="d-block">
                                                            <div class="form-check form-check-block" *ngFor="let answer of item.answers ; let ki = index">
                                                                <input class="form-check-input" type="radio" name="state"
                                                                     value="{{answer.value}}" [(ngModel)]="actualProm.data">
                                                                <label class="form-check-label" >{{answer.text}}</label>
                                                            </div>
                                                        </div>
                                                        <div *ngIf="item.other==actualProm.data && item.other != null">
                                                            <input type="text" class="form-control" name="actualProm.other" placeholder="{{'prom.Please, tell us' | translate }}" [(ngModel)]="actualProm.other">
                                                        </div>
                                                    </div>
                                                    <div *ngIf="item.type=='ChoiceSet'" class="mt-1">
                                                        <p class="mb-0" *ngFor="let answer of item.answers ; let ki = index">
                                                            <mat-checkbox name="{{answer.value}}" [(ngModel)]="actualProm.data[answer.value]">{{answer.text}}</mat-checkbox>
                                                            <span *ngIf="answer.text == item.other && actualProm.data[answer.value] == true">
                                                                <input type="text" class="form-control" name="{{answer.value}}{{ki}}" placeholder="{{'prom.Please, tell us' | translate }}" [(ngModel)]="actualProm.other">
                                                            </span>
                                                        </p>                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="step+1>newproms.length">
                                            {{'prom.You have completed' | translate }}
                                        </div>
                                        <small class="form-text text-muted danger" *ngIf="actualProm.data==null && goNext">{{'generics.required' | translate }}</small>
                                    </div>
                                    <div class="card-footer" *ngIf="step+1<=newproms.length">
                                        <div class="col-md-12 center-elements mt-2">
                                            <div class="form-actions center" *ngIf="!sending">
                                                <button *ngIf="step+1>1" type="button" class="float-left btn btn-dark" (click)="previousProm()">{{'generics.Previous' | translate }}</button>
                                                
                                                <button *ngIf="step+1<newproms.length" type="button" class="float-right btn btn-dark" (click)="nextProm()">{{'generics.Next' | translate }}</button>
                                                <button *ngIf="step+1==newproms.length" type="button" class="float-right btn btn-dark" (click)="nextProm()">{{'generics.Finish' | translate }}</button>
                                                <!--<button type="button" class="btn btn-raised btn-primary" (click)="saveSymptomsOfDiseaseSuggested()">{{'generics.Save' | translate }}</button>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="center-elements" *ngIf="loadedProms && newproms.length==0">
                                {{'prom.No further questions for today' | translate }}
                            </div>
                        </div>
                        <div *ngIf="!pendind && loadedProms">
                            <div *ngFor="let prom of newproms ; let i = index">
                                
                                <p class="mb-0 mt-3"> {{prom.idProm}} 
                                    <span *ngIf="prom.hasAnswer"><em class="fa fa-check w-13 success" ></em></span>
                                    <span *ngIf="!prom.hasAnswer"><em class="fa fa-times w-13 danger"></em></span>
                                </p>
                                <div *ngFor="let item of actualQuestionnaire.info.items ; let k = index">
                                    <div *ngIf="prom.idProm==item.idProm">
                                        <span>{{item.text}}</span>
                                        <div *ngIf="item.type=='radioButtons'" class="mt-1">
                                            <div class="d-block">
                                                <div class="form-check form-check-block" *ngFor="let answer of item.answers ; let ki = index">
                                                    <input class="form-check-input" type="radio" name="state{{ki}}{{prom.idProm}}"
                                                         value="{{answer.value}}" [(ngModel)]="prom.data">
                                                    <label class="form-check-label" >{{answer.text}}</label>
                                                </div>
                                            </div>
                                            <div *ngIf="item.other==prom.data && item.other != null">
                                                <input type="text" class="form-control" name="prom.other{{prom.idProm}}" placeholder="{{'prom.Please, tell us' | translate }}" [(ngModel)]="prom.other">
                                            </div>
                                        </div>
                                        <div *ngIf="item.type=='ChoiceSet'" class="mt-1">
                                            <p class="mb-0" *ngFor="let answer of item.answers ; let ki = index">
                                                <mat-checkbox name="{{answer.value}}{{ki}}{{prom.idProm}}" [(ngModel)]="prom.data[answer.value]">{{answer.text}}</mat-checkbox>
                                            </p>
                                            <p *ngIf="prom.data.Other">
                                                <input type="text" class="form-control" name="prom.other{{prom.idProm}}" placeholder="{{'prom.Please, tell us' | translate }}" [(ngModel)]="prom.other">
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="!pendind && loadedProms" class="center-elements mt-3 mb-3" style="position: sticky; top: 100vh; z-index: 1;">
                                <button type="button" class="mr-1 btn btn-dark" (click)="saveChanges()">{{'generics.Save changes' | translate }}</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="center-elements" *ngIf="!loadedProms">
                        <i class="fa fa-spinner fa-spin fa-fw"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>